.mainContainer{
    background-color: white;
    margin: 0 auto;
    width: 35rem;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
}
.mainContainer input {
    width: 10rem;
    margin: 40px;
    height: 2rem;
}
.mainContainer button {
    width: 8rem;
    margin: 40px;
    height: 2rem;
}
.mainContainer p {
    
    margin: 40px;
    color: red;
    font-size: 20px;
    font-weight: bold;
}