.card{
    border-radius: 12px;
    box-shadow: 0 4px 8px 0 rgba(224, 6, 6, 0.2), 0 6px 20px 0 rgba(233, 6, 6, 0.19);
}

.card:hover {
    border-radius: 12px;
    box-shadow: 0 4px 8px 0 rgba(104, 33, 219, 0.2), 0 6px 20px 0 rgba(3, 221, 94, 0.19);
    transform: scale(1.09);
    transition: 0.5s all;
}