.conditionlist-container{
    display: flex;
    flex-direction: column;
}
.condition-list-cont{
    width: 100%;
    height: 700px;
    margin-top: 50px;
}
.conditions-data{
    display: flex;
    width: 785px;
    max-width: 90%;
    margin: 2px auto;
}
.condition-list-main{
    width: 100vh;
}