.form-container{
    background-color: rgb(49, 49, 48);
    margin: 2px auto;
    max-width: 366px;
    color: white;
    border-radius: 12px;
}
.input-container{
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.input-lable{
    font-size: 13px;
    font-weight: bold;
}
input{
    width: 319px;
    height: 35px;
    border-radius: 8px;
}
.btn{
    height: 50px;
    width: 100px;
    border-radius: 8px;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 20px;
}
.button-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
   
}
