.conditionlist-container{
    display: flex;
    flex-direction: column;
}
.condition-list-cont{
    width: 100%;
    height: 700px;
    margin-top: 50px;
}
.conditions-data{
    display: flex;
    
}